@charset "utf-8";

#headerNav {
	height:80px;
}

.grid-container {
	box-shadow:0 0 10px rgba(0,0,0,0.25);
}

#headerNav ul {
	margin-top:1.7em;
}

#headerNav ul li {
	display:inline;
	margin-right:1em;
}

#headerNav ul li a {
	text-decoration:none;
	color:#1e1e1e;
	font-weight:700;
	font-size:1.2rem;
}

#siteBanner {
	height:400px;
	background-image:url(gridBackground.png);
	background-position:center;
}

#siteBanner h2 {
	color:#ffffff;
	font-size:2rem;
	text-shadow:0 1px 0 rgba(0,0,0,0.75);
}

#siteBanner p {
	color:#fff;
	font-size:1.2rem;
}

.g100BannerBtn {
	display:block;
	width:12em;
	position:absolute;
	bottom:25px;
	text-align:center;
	color:#ffffff;
	text-decoration:none;
	font-weight:700;
	background-image:-webkit-linear-gradient(#33A457,#3C802B);
	padding:10px;
	border-radius:2.5px;
	border:1px solid #3C802B;
	margin-top:150px;
	box-shadow:0 2px 0 #184E22;
}

